// futures banner
div.banner-wrap.futures{ 
	font-family:"proxima-nova", sans-serif;
	min-height:38.4375em;
	overflow:hidden;
	@media only screen and (min-width:40.063em){
		min-height:43.75em;
	}
	@media only screen and (min-width:64.063em){
		min-height:48.75em;
	}
	div.masthead-row{
		background-color:transparent;
		position:relative;
	}
	div.text-wrap{
		position:absolute;
		max-width:none;
		left:50%;
		margin-left:-40em;
		div.overlay{
			background-color: rgba(0, 0, 0, 0.55);
			position: absolute;
			height: 780px;
			min-width: 1280px;
			top: 0px;
			left: 0px;
		}
	}
	color:#fff;
	h1{
		font-size:1em;
		svg{
			max-width:18.75em;
			max-height:4.5em;
			width:100%;
		}
		small{
			display:block;
			font-size: .76em;
			margin-left: .75em;
			@media only screen and (min-width:20.8125em){
				font-size: .9em;
			}
		}
	}
	.futures-text{
		position:absolute;
		bottom:1em;
		max-width:78em;
		h2 {
			font-size:1em;
			text-transform:uppercase;
			span{
				font:500 1.25em/1em "proxima-nova", sans-serif;
				display:block;
				text-indent: -0.2em;
				@media only screen and (min-width:64.063em){
					font-size:2.25em;
				}
				&::first-line{
					font:900 2.75em/.75em "proxima-nova", sans-serif;
					@media only screen and (min-width:64.063em){
						font-size:2.75em;
					}
				}
			}
		}
		small{
			font:700 .9875em/2em "proxima-nova-condensed", sans-serif;
		}
		p{
			line-height:1.3;
		}
	}
}