//search form
form#experts-search{
	p{
		@media only screen and (min-width:40.063em){
			display: inline-block;
			vertical-align: top;
			width: 48%;
			margin-right: 1.5em;
		}
		label{
			display: block;
			margin: .75em 0;
		}
		input[type="text"]{
			width: 100%;
		}
		button{
			margin: 2em 0;
			@media only screen and (min-width:40.063em){
				width: 100%;
				margin: 0;

			}
		}
	}
	p:nth-child(even){
		margin-right: 0;
	}
}
// search list
div#filter + ul.faculty{
	list-style:none;
	padding:0;
	li.faculty-person.pic{
		overflow: auto;
		@media only screen and (min-width:40.063em){
			display: inline-block;
			vertical-align: top;
			margin-right: 1.5em;
			width: 48%;
		}
		img.faculty-thumb{
			float:left;
			margin: 0 1em 1em 0;
		}
		p.title{
			font-size: .75em;
		}
		p.phone,
		p.email{
			font:700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
            color: $default;
            a{
            	color: $default;
            }
		}
	}
	li.faculty-person.pic:nth-child(even){
		@media only screen and (min-width:40.063em){
			margin-right: 0;
		}
	}
}
// person
img.faculty-full{
	width:100%;
	margin:1em 0;
	@media only screen and (min-width:40.063em){
		float: left;
		margin: 0 1em 1em 0;
		width: auto;
		max-width:14.5em;
	}
}
div.faculty-info{
	p{
		font-weight: 700;
	}
	p.title{
		font:700 1.125em/1.35em "museo-slab", serif;
		color: #1a1a1a;
	}
}
h2.articles{
	clear:both;
}
ul.article-list,
ul#article-list{
	padding:0;
	list-style:none;
	li{
		a{
			color: #000;
		}
	}
}