// Search for AgBioResearch-affiliated scientists
legend{
	font:700 1.75em/1.5em "proxima-nova", sans-serif;
	color: $green;
	clear:both;
}
legend.proposal{
	font:700 1.375em/1.65em "museo-slab", serif;
	color: $lt-green;
}
fieldset{
	border:none;
	margin:0;
	@media only screen and (min-width:40.063em){
		width: 50%;
	}
}
input{
	width:100%;
}
input[type="date"]{
	margin-right:.5em;
	width:93%;
}
input[type="radio"]{
	margin:0 .5em 0 0;
	width: auto;
}
form#affiliated-name fieldset{
	@media only screen and (min-width:40.063em){
		float: left;
	}
}
#proposal-request-form-errors p {
    color: red;
}
label{
	display:block;
}
label.inline{
	display:inline-block;
	margin-right:2em;
}
img.ui-datepicker-trigger {
    cursor: pointer;
}
