// features magazine

//header & mobile nav
body.futures #networkElement{
	display:none !important;
}
header.home.futures{
	div#search-medium {
    	display: none !important;
    }
}
header.futures p#nav-button,
#dark-cover.futures,
nav#mobile-nav.futures { 
	@media only screen and (min-width:64.063em){ 
    	display:block !important;
    } 
}
#outer-wrap #inner-wrap article#content ul#related-articles.futures-listing{
	list-style:none;
	padding:0;
	overflow:auto;
	li{
		margin:2em 0;
		&:first-child{
			margin-top:0;
		}
		@media only screen and (min-width:40.063em){
			width:32%;
			float:left;
			margin:.5em .4em;
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3){
				margin-top:0;
			}
			&:nth-child(3n+1){
				margin-left:0;
				clear:left;
			}
			&:nth-child(3n+3){
				margin-right:0;
			}
		}
		img{
			min-width:100%;
		} 
	}
}
body.futures #outer-wrap #inner-wrap article#content{
	h3{
		font:700 1.375em/1.65em "proxima-nova", sans-serif;
		color:#18453b;
	}
	h2{
		font:500 1.25em/1.5em "proxima-nova", sans-serif;
		color:#000;
		&.caps{
			text-transform:uppercase;
		}
	}
	img.news-pub-thumb{
		float:right;
		margin:0 0 1em 1em;
	}
	ul.futures-listing {
		list-style:none;
		padding:0;
		overflow:auto;
		li{
			margin:2em 0;
			&:first-child{
				margin-top:0;
			}
		}
	}
	ul.futures-listing.featured{
		li{
			border:1px solid gray;
			overflow:auto;
			&:first-child{
				margin-top:0;
			}
			@media only screen and (min-width:64.063em){
				width:32%;
				float:left;
				margin:0 .45em;
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3){
					margin-top:0;
				}
				&:nth-child(3n+1){
					margin-left:0;
					clear:left;
				}
				&:nth-child(3n+3){
					margin-right:0;
				}
			}
			img{
				min-width:100%;
				@media only screen and (min-width:40.063em){
					min-width:50%;
					float:left;
				}
				@media only screen and (min-width:64.063em){
					min-width:100%;
					float:none;
				}
			}
			span{
				margin:1em;
				display:block;
				@media only screen and (min-width:40.063em){
					margin-left:52%;
				}
				@media only screen and (min-width:64.063em){
					margin-left:1em;
				}
			}
			p{
				padding:0 1.5em;
				line-height:1.5;
				@media only screen and (min-width:40.063em){
					margin-left:52%;
					padding:0;
				}
				@media only screen and (min-width:64.063em){
					margin-left:0;
					padding:0 1.5em;
				}


			}
		}
	}
	ul.prev-issues{
		list-style:none;
		padding:0;
		li{
			overflow:auto;
			img{
				float:left;
				margin:0 1em 1em 0;
				@media only screen and (min-width:64.063em){
					width:7.8125em;
					height:10.125em;
				}
			}
		}
	}
}