@media only screen {
    #networkElement{
        display:none;
        @media only screen and (min-width:64.063em){
            display: block;
        }
    }
    // for broswers that don't support svg
    html.no-svg{
        div.masthead a{
            // masthead-helmet-green.png
            background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.png") no-repeat scroll left center transparent;
            width: 298px;
            height: 34px;
            display: inline-block;
        }
        div#search-medium input[type=submit] {
            background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.png") no-repeat scroll center center #FFFFFF;
        }
    }
    html.no-svg header.home{
        div.masthead a{
            // masthead-helmet-green.png
            background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.png") no-repeat scroll left center transparent;
            width: 298px;
            height: 34px;
            display: inline-block;
        }

    }
    #msu-masthead-icon path { 
        fill:#fff;
        color:#fff;
    }
    #outer-wrap.home #msu-masthead-icon path { 
        fill:#004F39;
        color:004F39;
    }
    header{
        background-color:$lt-green;
        color: #fff;
        position:relative;
        .masthead-row{
            background-color:$lt-green;
            position:fixed;
            z-index:300;
            @media only screen and (min-width:64.063em){
                position:relative;
                background-color:transparent;
                padding-bottom:0;
                z-index:0;
            }
            .masthead{
                height:2.125em;
                margin-top:1em;
                div.logo{
                    @media only screen and (min-width:40.063em){
                        float: left;    
                        width: 48%;
                    }
                }
                a{          
                   // background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.svg") no-repeat scroll left center transparent;
                   // background-size: 100% auto;
                    display: block;
                    position: relative;
                    height: 2.125em;
                    max-width: 18.75em;
                    //text-indent: -999em;

                    svg{
                        //max-width: 19.0625em;
                        width:100%;
                        height: 100%;
                        margin: 0;
                    }
                    
                }
            }
            div#search-medium {
                display: none;
                @media only screen and (min-width:64.063em){
                    display:inline;
                }
                form#cse-search-box {
                    display: none;
                    @media only screen and (min-width:64.063em) {
                        display: block;
                        float:right; 
                        background: none repeat scroll 0 0 #FFFFFF;
                        border: .0625em solid #999999;
                        @include border-radius(.1875em);
                        height: 1.75em;
                        margin-bottom: .75em;
                        width: 18.75em;
                        overflow:hidden;
                        input[type=text] { 
                            border:none;
                            width:16em;
                            padding-left:.25em;
                            color: $default;
                            margin-top: .125em;
                        }
                        input[type=submit] {
                            background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
                            border: 0 none;
                            @include border-radius( 0 .1875em .1875em 0);
                            cursor: pointer;
                            float: right;
                            height: 1.75em;
                            margin: 0 auto;
                            outline: 0 none;
                            text-indent: -9999px;
                            text-transform: capitalize;
                            width: 2.125em;
                        }
                    }
                }
            }
        }
        div.title-row{
            padding-top:3.125em;
            position:relative;
            @media only screen and (min-width:64.063em){
                padding-top:0;
            }
            h1{
                margin: 0;
                a{
                    color: #fff;
                    font:900 1.1775em/1.5em "raleway", sans-serif;
                    @media only screen and (min-width:40.063em){
                        font-size: 1.5em;
                        @media only screen and (min-width:64.063em){
                            font-size: 2em;
                        }
                    }
                    text-decoration: none;
                    span{
                        font-weight:500;
                    }
                }
                a:hover,a:focus{
                    text-decoration: none;
                }
            }
            p.tagline{
                text-transform: uppercase;
                font:500 .625em/.75em "raleway", sans-serif;
                margin:-.5em 0 3em 12.51em;
                @media only screen and (min-width:40.063em) {
                    font-size: .8125em;
                    margin:-.5em 0 2em 12em;
                    @media only screen and (min-width:64.063em){
                        font-size: 1.125em;
                        margin-left: 11em;
                    }
                }
            }
        }
        ul.icons{
            list-style: none;
            padding:none;
            position:absolute;
            right: 0;
            bottom:-2em;
            padding-right:.9375em;
            z-index: 200;
            @media only screen and (min-width:40.063em) {
                bottom:-2.25em;
                @media only screen and (min-width:64.063em){
                    bottom:-3.75em
                }
            }
            li{
                display: block;
                float: left;
                margin-left: 1.625em;
                width: 2.125em;
                height: 2.125em;
                //text-indent: -99999em;
                @media only screen and (min-width:40.063em){
                    width: 3em;
                    height: 3em;
                    @media only screen and (min-width:64.063em) {
                        width: 5.4375em;
                        height: 5.4375em;
                    }
                }
                svg{
                    width: 2.125em;
                    height: 2.125em;
                    @media only screen and (min-width:40.063em){
                        width: 3em;
                        height: 3em;
                        @media only screen and (min-width:64.063em) {
                            width: 5.4375em;
                            height: 5.4375em;
                        }
                    }
                    use{
                        width:100%;
                        height:100%;
                    }
                }
            }
            /*
            li span{
                width: 100%;
                height: 0;
                padding-bottom:100%;
                display: block;
            }
            li.food span{
                background:url('/images/sprite.png') no-repeat 0 98%;
                background-size:321% auto;
            }
            li.energy span{
                background:url('/images/sprite.png') no-repeat 50% 98%;
                background-size:321% auto;
            }
            li.enviro span{
                background:url('/images/sprite.png') no-repeat 100% 98%;
                background-size:321% auto;
            }
            */
        }
    }
    header.home{
        background-color:#fff;
        color: $default;
        div.masthead-row{
            background-color:#fff;
            @media only screen and (min-width:64.063em) {
                background-color:transparent;
            }
            div.masthead{
                a{
                    //background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.svg") no-repeat scroll left center transparent;
                    //background-size: 100% auto;
                    @media only screen and (min-width:30.4375em){
                        background-size: auto;
                    }
                    @media only screen and (min-width:64.063em) {
                        width:50%;
                        display: inline-block;
                    }
                }
            }
        }
        div.title-row{
            h1{
                a{
                    color: #333;
                }
            }
        }
    }
}