div.banner-wrap{
	margin:0 auto;
	max-width:80em;
	position:relative;
	img{
		position:relative;
		margin:0;
		height: auto;
	}
	div.row{
		div.banner-text{
			background-color:$lt-green;
			color: #fff;
			padding:.9375em;
			@media only screen and (min-width:64.063em){
				padding:1em 1em 1em 1.9375em;
				position:absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				height:16.875em;
				background-color: rgba(102,149,46,0.9);
			}

			h1{
				border-bottom:1px solid #fff;
				padding-bottom:.3125em;
				a{
					color: #fff;
					text-decoration: none;
				}
				a:hover,a:focus{
					text-decoration: underline;
				}
			}
			h2{
				display: none;
				font-size: 1.375em;
				line-height: 1.65em;
				@media only screen and (min-width:64.063em){
					display: block;
				}
			}
			p{
				font-size: .8125em;
				line-height: 1.05;
				@media only screen and (min-width:40.063em){
					font-size: .75em;
					line-height: 1.3;
					@media only screen and (min-width:64.063em){
						font-size: 1.125em;
						line-height: 1.35em;
					}
				}
				a{
					color:#fff;
				}
			}
		}
	}
}
body.ie div.banner-wrap div.row div.banner-text{
	@media only screen and (min-width:64.063em){
		top:7.1875em;
	}
}
div.banner-wrap.centers div.row div.banner-text{
	@media only screen and (min-width:64.063em){
		height: 20.875em;
	}
}
body.ie div.banner-wrap.centers div.row div.banner-text{
	@media only screen and (min-width:64.063em){
		top:5.1875em;
	}
}
ul.center-icons{
			list-style: none;
		    padding:none;
		    padding:1em 0;
		    position:relative; 
		    overflow: hidden;
		    text-align: center;
		 	margin: 0;
			li{
				display: inline-block;
		        margin:0 .40625em .5em .40625em;
		        width: 2.8125em;
		        height: 2.8125em;
		        @media only screen and (min-width:40.063em){
		        	width: 3.125em;
		        	height: 3.125em;
		        }
				svg{
					 width: 2.8125em;
			        height: 2.8125em;
			        @media only screen and (min-width:40.063em){
			        	width: 3.125em;
			        	height: 3.125em;
			        }
			        use{
			        	width:100%;
			        	height:100%;
			        }
				}
			}
		}
section#centers-widget{
	h1{
		margin-top: 0;
	}
	form#centers-form{
		overflow: auto;
		@media only screen and (min-width:40.063em){
			margin-top: 1.5625em;
			@media only screen and (min-width:64.063em){
				margin-top: 0;
			}
		}
		select{
			@media only screen and (min-width:64.063em){
				width: 35%;
				display: inline-block;
				margin-right: 3em;
			}
		}
		button[type="submit"]{
			margin:1.5625em 0;
			display: inline-block;
		}
	}
}
div.publication{
	overflow:hidden;
	img.gallery-thumb{
		float: right;
		margin:0 0 1em 1em;
		max-width:6em;
		@media only screen and (min-width:28.75em){
			max-width:10em;
		}
	}
}