@media only screen {
    #menu-icon path,
    #menu-icon rect{
        fill:#5CA038;
    }
    #menu-icon rect.box{
        fill:#fff;
    }
    body.home {
        #menu-icon path,
        #menu-icon rect{
            fill:#fff;
        }
        #menu-icon rect.box{
            fill:#5CA038;
        }
    }
    p#nav-button {
        position:relative;
        margin:0;
    }
    p#nav-button a {
      //  background:url("/images/menu_white.svg") no-repeat 0 0 transparent;
      //  background-size:100% auto;
        display:block;
        height:3.625em;
        overflow:hidden;
        position:absolute;
        right:-0.9375em;
        //text-indent:9999em;
        top:-0.5em;
        width:3.625em;
        svg{
            width:100%;
            height:100%;
        }
    }
    nav#mobile-nav {
        width:0; /* collapsed */
        overflow:hidden;
        position:fixed;
        top:0;
        right:0;
        height:100%;
        background-color:#E08D8E;
        z-index:10;
        transition: width 0.3s ease;
    }
    nav#mobile-nav .title-mobile {
        font-size:1.6em;
        line-height:1;
        font-weight:bold;
        border-top:4px double #fff;
        border-bottom:1px solid #fff;
        padding:.75em .9375em;
        margin: .5em -.9375em 1em;
    }
    nav#mobile-nav a {
        text-decoration:none;
        color: #fff;
    }
    nav#mobile-nav a:hover,
    nav#mobile-nav a:focus {
        text-decoration:underline;
    }
    nav#mobile-nav {
        background-color:#282829;
        color:#fff;
    }
    nav#mobile-nav p.close {
        text-align:right;
        text-transform:uppercase;
    }
    nav#mobile-nav p.close a {
        background-size:1.25em 1.25em;
        padding-left:1.875em;	
       // background:transparent url('http://expeng.anr.msu.edu/images/sitewide/close.svg') left top no-repeat;
       svg{
                height: 1em;
                width: 1em;
            }

        }
    #close-icon path {
        fill: #fff;
        color: #fff;
    }
    nav#mobile-nav ul {
        list-style:none;
        margin: 0; 
        padding:0;
    }
    nav#mobile-nav ul#nav_mobile{
        margin:1em -.9375em 0 -.9375em; 
    }
    nav#mobile-nav li {
        border-top:.063em solid #fff;
    }
    nav#mobile-nav li:first-child {
        border-top:none;
    }
    nav#mobile-nav li a {
        display:block;
        padding:1em .9375em 1em .5em;
        margin:0;
        text-decoration:none;
      //  background: url('/images/close.png') right center no-repeat;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.has_children > a{
        background: url('/images/open.png') right center no-repeat;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.here a,
    nav#mobile-nav li a:hover,
    nav#mobile-nav li a:focus {
        text-decoration:underline;
    }

    nav#mobile-nav ul ul {
        border-top:.063em solid rgb(0,0,0);
    }
    nav#mobile-nav li.level_1:first-child{
        border-top:1px solid #fff;
    }
    nav#mobile-nav li.level_1 a{
        padding-left:1em;
        margin-right: .9375em;
    }
    nav#mobile-nav li.level_2 {
        background-color:#404041;
        border-top:1px dotted #fff;
    }
    nav#mobile-nav li.level_2:first-child{
        border-top:none;
    }
    nav#mobile-nav li.level_2 a {
        border-left:6px solid #6d6e70;
    }
    nav#mobile-nav li.level_3 {
        border-top: 1px dotted #000;
        background-color:#e6e7e8;
    }
    nav#mobile-nav li.level_3:first-child{
        border-top:none;
    }
    nav#mobile-nav li.level_3 a {
        color: #000;
        border-left:6px solid #a7a9ab;
        text-decoration: none;
      //  background: url('/images/close-k.png') right center no-repeat;
        background-size:.75em .75em;
    }
    nav#mobile-nav li.level_3 a:hover,
    nav#mobile-nav li.level_3 a:focus,
    nav#mobile-nav li.level_3.here a{
        text-decoration: underline;
    }
    nav#mobile-nav:target {
        width:15em;
        padding:1em;
        overflow-y:visible;
        z-index:500;

    }
    nav#mobile-nav form { 
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #999999;
        border-radius: 3px;
        height: 28px;
        margin-bottom: 12px;
        width: 13em;
        overflow:hidden;
    }
    nav#mobile-nav form input[type=text] { 
        border:none;
        width:10.5em;
        padding-left:.25em;
        color: #000;
        margin-top: .1875em;
    }
    nav#mobile-nav form input[type=submit] {
        background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center #FFFFFF;
        border: 0 none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        float: right;
        height: 28px;
        margin: 0 auto;
        outline: 0 none;
        text-indent: -9999px;
        text-transform: capitalize;
        width: 2em;
    }
    nav#mobile-nav:target + #wrap { 
        position:fixed;
        left:-15em;
        overflow-x:hidden;
        overflow-y:visible;
    }
    nav#mobile-nav:target ~ a#nav-button.nav-button {
        position:absolute;
        top:-500em !important;
    }
    nav#mobile-nav:target + #dark-cover {
        position:fixed;
        top:0;
        right: 0;
        width:100%;
        height:100%;
        z-index:400;
        background-color: rgba(0,0,0,0.70);
    }
    nav#mobile-nav:target + #dark-cover + #outer-wrap {
        overflow:hidden;
    }
}
@media only screen and (min-width: 64.063em) {
    p#nav-button,
    #dark-cover,
    nav#mobile-nav  { 
        display:none; 
    }
}