@media only screen {
    div.side-bar{
        display: none;
        @media only screen and (min-width: 64.063em) {
            display: block;
            ul{
                list-style:none;
                margin:0;
                padding:0;
                line-height:1.4;
                li.level_1{
                    border-bottom:.063em solid #333;
                    a{
                        display:block;
                        padding:.6875em .5em;
                        margin:0;
                        text-decoration:none;
                        color:#333;
                        font-size: 1em;
                    }
                    a:hover{
                        text-decoration:underline;
	                   color:#333;
                    }
                    ul{
                        padding-left:1em;
                        li.level_2 {
                            a{
                                font-size: .9em;
                                padding:.5em;
                            }
                            a:hover,
                            a:focus{
                                font-weight: 700;
                            }
                        }
                        li.level_2.active,
                        li.level_2.parent_here{
                            a{
                                font-weight: 700;
                            }
                            ul{
                                border-top: .063em solid #a2b5b0;
                                li.level_3{
                                    a{
                                        font-size: .875em;
                                    }
                                }
                                li.level_3.active{
                                    a,
                                    a:hover,
                                    a:focus{
                                        font-weight: 700;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
                li.level_1:first-child{
                	border-top:.063em solid #333;
                }
                li.level_1.parent_here > a{
                    background-color:#333;
                    color: #fff;
                    font-weight: 700;
                }

                li.level_1.active > a,
                li.level_1 > a:focus{
                    background-color:#333;
                    color: #fff;
                    text-decoration:underline;
                    font-weight: 700;
                }
                li.active{
                    a{
                        text-decoration: underline;
                    }
                    ul{
                        display: block;
                        li.level_2 {
                            a{
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
        }
    }
}