// news and events
ul.news,
ul.events{
	list-style: none;
	padding: 0;
	li.news-item,
	li.event-item{
		overflow: auto;
		img{
			width:100%;
			margin-bottom:.5em;
			@media only screen and (min-width:40.063em){
				float: right;
				margin: 0 0 1em 1em;
				max-width: 12.5em;
			}
		}
	}
	li.news-item > p:first-of-type,
	li.event-item > p:first-of-type{
		margin-top: 0;
	}
}
ul.news{
	div.home-image{
		float:right;
	}
	div.columns{
		padding:0;
		@media only screen and (min-width:40.063em){
			&:nth-child(odd){
				padding:0 .9375em 0 0;
			}
			&:nth-child(even){
				padding:0 0 0 .9375em;
			}
			&.summary{
				float:left;
			}
		}
	}
}

p.byline{
	font-weight: 700;
	font-size: .6875;
	color: #333;
}
img.in-article{
	width:100%;
	@media only screen and (min-width:40.063em){
		float:right;
		margin:0 0 1em 1em;
		width: auto;
		max-width:21.875em;
	}
}
p.related-center-info{
	clear:both !important;
	svg{
		vertical-align: middle;
		margin-right: 0.5em;
		width: 2.8125em;
		height: 2.8125em;
	}
}

// annual report'
div.reports-container{
	overflow:hidden;
	margin-bottom:1em;
	@media only screen and (min-width:40.063em){
		vertical-align: top;
		display: inline-block;
		width: 48%;
	}
	img.gallery-thumb{
		float: left;
		margin-right: 1em;
	}
}