@media print {
    #networkElement,
    #mobile-nav,
    header,
    .banner-wrap,
    .top-links,
    #nav-button,
    .side-bar,
    #search-medium,
    #nav-wrap,
    .banner-home,
    .featured-home,
    #social,
    footer {
        display:none;
    }
    #content a { color: #186B9B; }

    a:after {
        content: " (" attr(href) ")";
        font-size: 80%;
    }
}