@import "D:\css\sitewide\sass\sitewide";
@import "D:\css\sitewide\sass\normalize";
@import "D:\css\sitewide\sass\foundation";
//@import "D:\css\sitewide\sass\tables-responsive";
// ANR BAR single line comment out if don't need. Won't appear in css file
@import "D:\anr_bar\scss\styles";
@import "mixins";
@import "variables";
@import "header";
@import "banner";
@import "nav-medium";
@import "footer"; 
@import "mobile-nav";

@media only screen {
    svg{
    margin: 0; 
}
svg text {
    visibility: hidden;
    height: 0;
    width: 0;
}
// for broswers that don't support svg
    html.no-svg{
        ul.social{
             li.flickr a{
                background:url('/images/sprite.png') no-repeat 20.7% 0%;
                background-size:691% auto;
            }
            li.twitter a{
                background:url('/images/sprite.png') no-repeat 41.5% 0%;
                background-size:691% auto;
            }
            li.facebook a{
                background:url('/images/sprite.png') no-repeat 83% 0%;
                background-size:691% auto;
            }
            li.youtube a{
                background:url('/images/sprite.png') no-repeat 62.25% 0%;
                background-size:691% auto;
            }
            li.rss a{
                background:url('/images/sprite.png') no-repeat 0% 0%;
                background-size:691% auto;
            }
        }
    }
    body.mceContentBody { 
        background: #fff none !important; 
        text-align: left; 
        overflow: auto; 
        font-size:16px;
        cursor: text;
    }
    body {
        line-height: 1em;
        color: $default;
    }
    h2.landmark {
        position: absolute;
        top:-3333em;
        left: -3333em;
    }
    body {
        color: $gray;
        font-size: 1em;
        line-height: 1;
    }
    #outer-wrap {
        width:100%;
        height:100%;
        background-color: #3f474d;
        float:left;
        #inner-wrap{
            background-color:#fff;
            div#page{
                padding: 1.875em 0 0 0;
                @media only screen and (min-width:64.063em){
                    padding-top:2.5em;
                }
            }
            article#content > h1:first-of-type {
                margin-top: 0;
            }
            article#content{
                h1{
                    font:700 1.75em/1.5em "proxima-nova", sans-serif;
                    color: $green;
                }
                h2{
                    font:700 1.375em/1.65em "museo-slab", serif;
                    color: $lt-green;
                    a{
                        color: $lt-green;
                    }
                }
                h3 {
                    font:700 1.125em/1.35em "museo-slab", serif;
                    color: #1a1a1a;
                }
                h4 { 
                    font: 900 1.0625em/1.275em "proxima-nova", sans-serif;
                    color: #000;
                }
                h5 {
                    font:600 .9375em/1.125em "proxima-nova", sans-serif;
                    color: #000;
                } 
                h6{
                    font:700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
                    color: $default;
                }
                p {
                    font-size:.75em;
                    @media only screen and (min-width:64.063em) {
                        font-size: .875em;
                    }
                    margin: 1em 0;
                    line-height: 1.4;
                }
                p.first{
                    margin-top: 0;
                }
                a{
                    color: $dk-green;
                    font-family: "raleway", sans-serif;
                    font-weight: 700;
                }
                a:hover,
                a:focus{
                    text-decoration: none;
                }
                a.no-file-highlight[href$=".pdf"]::after, a.no-file-highlight[href$=".PDF"]::after, a.no-file-highlight::after {
                    content: none !important;
                }
                a.no-file-highlight[href$=".pdf"]::after, a.no-file-highlight[href$=".PDF"]::after, a.no-file-highlight::after {
                    content: none !important;
                }
                a.no-file-highlight[href$=".pdf"], a.no-file-highlight[href$=".PDF"], .no-file-highlight {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                    padding-left: 0 !important;
                    color: inherit !important;
                }
                hr{
                    color: $dk-green;
                }
                blockquote{
                    margin: 1em;
                    line-height: 1.4;
                }
                ul{
                    li{
                        margin: .5em 0;
                        line-height: 1.4;
                    }
                }
                ol{
                    li{
                        margin: .5em 0;
                        line-height: 1.4;
                    }
                }
                .underline{
                    text-decoration: underline;
                }
                .left{
                    float: left;
                    margin: 0 1em 1em 0;
                }
                .right{
                    float: right;
                    margin: 0 0 1em 1em;
                }
                div#map_canvas{
                    display:none;
                    @media only screen and (min-width:40.063em){
                        display:block;
                    }
                }
                div.gm-style-iw div{
                    overflow:visible !important;
                }
                div.plugin-social{
                    text-align: left !important;
                    ul.plugin-social-buttons{
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
                ul.paginate{
                    padding: 0;
                    margin: 0;
                    list-style: 0;
                    text-align: center;
                    li{
                        display: inline-block;
                        padding: .5em 1em;
                    }
                    li:first-child{
                        padding-left: 0;
                    }
                    li:last-child{
                        padding-right: 0;
                    }
                }
                ul.faculty{
                    list-style:none;
                    padding:0;
                    li.faculty-person{
                        p.title{
                            font-size: .75em;
                        }
                        p.phone,
                        p.email{
                            font:700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
                            color: $default;
                            a{
                                color: $default;
                            }
                        }
                    }
                }
                ul.videos{
                    padding:0;
                    list-style:none;
                    li.video{
                        
                        @media only screen and (min-width:40.063em){
                            display: inline-block;
                            vertical-align: top;
                            width: 48%;
                            margin-right: 1.5em;
                        }
                        div.video-frame{
                            height: 0;
                            padding-bottom: 56.25%;
                            position: relative;
                            iframe{
                                border:none;
                                height: 100%;
                                left: 0;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                    li.video:nth-child(even){
                        @media only screen and (min-width:40.063em){
                            margin-right: 0;
                        }
                    }
                }
                //pages to import
                // news & events
                @import "news";
                @import "experts";
                button[type="submit"]{
                    width: 100%;
                    @media only screen and (min-width:64.063em){
                        width:35%; 
                    }
                }
            }
            a.green-button,
            button[type="submit"],
            input[type="submit"]{
                color:#fff !important;
                @include border-radius(.375em);
                background-color:$dk-green;
                display: block;
                padding:.5em .5em;
                text-align: center;
                font-weight: 700 !important;
                text-decoration: none !important;
                border:none;
            }
            a.orange-button{
                color:#fff !important;
                @include border-radius(.375em);
                background-color:$orange;
                display: block;
                padding:.5em .5em;
                text-align: center;
                font-weight: 700 !important;
                text-decoration: none !important;
            }
            div.subscribe{
                p{
                    font-weight: 700;
                }
                a.green-button{
                    @media only screen and (min-width:40.063em){
                        width: 50%;
                        @media only screen and (min-width:64.063em){
                            width: 35%;
                        }
                    }
                }
            }
            ul.social{
                margin: 1em 0;
                padding:0;
                overflow: visible;
                text-align: center;
                li{
                    display: inline-block;
                    width:1.875em;
                    height:1.875em;
                    margin-left:.5em;
                    @media only screen and (min-width:64.063em) {
                        width: 2.5em;
                        height: 2.5em;
                    }
                    a{
                        width: 100%;
                        height: 0;
                        padding-bottom:100%;
                        display: block;
                        //text-indent: -9999em;
                        svg{
                            width:1.875em;
                            height:1.875em;
                             @media only screen and (min-width:64.063em) {
                                width: 2.5em;
                                height: 2.5em;
                            }
                            use{
                                width:100%;
                                height:100%;
                            }
                        }
                    }

                }
                li:first-child{
                    margin-left: 0 !important;
                }
            }
            div.mobile-actions{
                clear: both;
                @media only screen and (min-width:64.063em){
                    display: none;
                }
                ul.social{
                    li{
                        margin-left:1.25em !important;
                        @media only screen and (min-width:40.063em){
                            margin-left: 2em !important;
                        }
                    }
                }
            }
            div.mobile-actions div.home{
                display: none;
            }
        }
    }
}
@import "forms";
@import "home";
@import "futures";
@import "print";