/* sitewide formatting */
body, div, img, form, fieldset, legend, label, blockquote, pre, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

img {
  border: none; }

/* positioning */
.centered {
  text-align: center; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  position: absolute;
  left: -100em;
  top: auto;
  width: 0.0625em;
  height: 0.0625em;
  overflow: hidden; }

/* text styles */
b, strong, .bold {
  font-weight: bold; }

i, em, .italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.strikethrough {
  text-decoration: line-through; }

.error {
  color: #f00;
  font-weight: bold; }

/* external link */
a.external_link {
  background: url(http://expeng.anr.msu.edu/images/sitewide/external-link-icon.png) 100% 50% no-repeat !important;
  display: inline !important;
  padding-right: 15px !important; }

/* text after document links */
a[href$=".pdf"]:after, a[href$=".PDF"]:after {
  content: " (pdf)"; }

a[href$=".psd"]:after, a[href$=".PSD"]:after {
  content: " (psd)"; }

a[href$=".ai"]:after, a[href$=".AI"]:after {
  content: " (ai)"; }

a[href$=".indd"]:after, a[href$=".INDD"]:after {
  content: " (indd)"; }

a[href$=".swf"]:after, a[href$=".SWF"]:after {
  content: " (swf)"; }

a[href$=".doc"]:after, a[href$=".DOC"]:after {
  content: " (doc)"; }

a[href$=".docx"]:after, a[href$=".DOCX"]:after {
  content: " (docx)"; }

a[href$=".xls"]:after, a[href$=".XLS"]:after {
  content: " (xls)"; }

a[href$=".xlsx"]:after, a[href$=".XLSX"]:after {
  content: " (xlsx)"; }

a[href$=".xlsm"]:after, a[href$=".XLSM"]:after {
  content: " (xlsm)"; }

a[href$=".ppt"]:after, a[href$=".PPT"]:after {
  content: " (ppt)"; }

a[href$=".pps"]:after, a[href$=".PPS"]:after {
  content: " (pps)"; }

a[href$=".pptx"]:after, a[href$=".PPTX"]:after {
  content: " (pptx)"; }

a[href$=".ppsx"]:after, a[href$=".PPSX"]:after {
  content: " (ppsx)"; }

a[href$=".accdb"]:after, a[href$=".ACCDB"]:after {
  content: " (accdb)"; }

a[href$=".mdb"]:after, a[href$=".MDB"]:after {
  content: " (mdb)"; }

/* document link styles */
a[href$=".pdf"], a[href$=".PDF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/pdf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".psd"], a[href$=".PSD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/psd.png) scroll no-repeat 0 0 transparent;
  color: #004084 !important;
  padding-left: 18px; }

a[href$=".ai"], a[href$=".AI"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ai.png) scroll no-repeat 0 0 transparent;
  color: #da5b00 !important;
  padding-left: 18px; }

a[href$=".indd"], a[href$=".INDD"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/indd.png) scroll no-repeat 0 0 transparent;
  color: #7d164d !important;
  padding-left: 18px; }

a[href$=".swf"], a[href$=".SWF"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/swf.png) scroll no-repeat 0 0 transparent;
  color: #d60000 !important;
  padding-left: 18px; }

a[href$=".doc"], a[href$=".docx"], a[href$=".DOC"], a[href$=".DOCX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/doc.png) scroll no-repeat 0 0 transparent;
  color: #0b3ca7 !important;
  padding-left: 18px; }

a[href$=".xls"], a[href$=".xlsx"], a[href$=".XLS"], a[href$=".XLSX"], a[href$=".xlsm"], a[href$=".XLSM"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/xls.png) scroll no-repeat 0 0 transparent;
  color: #185c3b !important;
  padding-left: 18px; }

a[href$=".ppt"], a[href$=".pps"], a[href$=".pptx"], a[href$=".ppsx"],
a[href$=".PPT"], a[href$=".PPS"], a[href$=".PPTX"], a[href$=".PPSX"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/ppt.png) scroll no-repeat 0 0 transparent;
  color: #AD5101 !important;
  padding-left: 18px; }

a[href$=".accdb"], a[href$=".mdb"],
a[href$=".ACCDB"], a[href$=".MDB"] {
  background: url(http://expeng.anr.msu.edu/images/sitewide/file_extensions/accdb.png) scroll no-repeat 0 0 transparent;
  color: #a40042 !important;
  padding-left: 18px; }

/* float container */
div.floatbox {
  height: 1%;
  position: relative;
  overflow: auto; }

/* specific elements */
p#content_link {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }

div#cse {
  overflow: hidden; }

div#page .cse .gsc-control-cse,
div#page .gsc-control-cse,
div#page .cse .gsc-webResult.gsc-result,
div#page .gsc-webResult.gsc-result,
div#page .gsc-imageResult-column,
div#page .gsc-imageResult-classic,
div#page .gsc-webResult .gsc-result {
  background: none;
  border: none; }

div#content a.gcsc-branding-clickable,
div#content a.gcsc-branding-clickable:hover,
div#content a.gs-title,
article#content a.gcsc-branding-clickable,
article#content a.gcsc-branding-clickable:hover,
article#content a.gs-title {
  border: none; }

acronym, abbr {
  cursor: help; }

label[for="gse_query"] {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

/* normalize */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* foundation */
meta.foundation-version {
  font-family: "/5.2.3/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 77.875em; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.row.collapse > .column,
.row.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.row.collapse .row {
  margin-left: 0;
  margin-right: 0; }

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.row .row:before, .row .row:after {
  content: " ";
  display: table; }

.row .row:after {
  clear: both; }

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none; }

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table; }

.row .row.collapse:after {
  clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .small-offset-0 {
    margin-left: 0% !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; } }
@media only screen and (min-width: 40.063em) {
  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .medium-offset-0 {
    margin-left: 0% !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .large-offset-0 {
    margin-left: 0% !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
/*------------------------------------------------------------------------- CSS RESET --*/
/*-- by Kim Maida | http://kim-maida.com --*/
/*-- Additional thanks to Eric Meyer, Richard Clark, Paul Irish, Divya Manian --*/
/*-- modified by Brad Everett for responsive sites --*/
#networkElement div, #networkElement span, #networkElement h1, #networkElement h2, #networkElement h3, #networkElement h4, #networkElement h5, #networkElement p, #networkElement a, #networkElement address, #networkElement em, #networkElement img, #networkElement ol, #networkElement ul, #networkElement li, #networkElement form, #networkElement input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline; }

#networkElement div {
  box-sizing: content-box !important; }

#networkElement ol, #networkElement ul, #networkElement ul li {
  list-style: none; }

#networkElement input[type=button],
#networkElement input[type=submit],
#networkElement button {
  cursor: pointer; }

#networkElement h1,
#networkElement h2,
#networkElement h3,
#networkElement h4,
#networkElement h5 {
  font: normal 14px Arial, Helvetica, sans-serif;
  text-align: left;
  text-shadow: none;
  text-transform: none;
  background: none;
  float: none; }

#networkElement q:lang(en) {
  quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }

/*--------------------------------------------------------------- TOP BAR --*/
div#anrElementWrapper {
  background: #575757;
  border-bottom: 1px solid #181818;
  height: 29px;
  overflow: hidden;
  position: relative; }

div#anrElement {
  color: #fff;
  font: normal 14px Arial, Helvetica, sans-serif;
  height: 29px;
  margin: 0 auto;
  position: relative;
  max-width: 86.875em;
  padding: 0 .9375em; }

div#anrElement a {
  color: #fff; }

div#anrElement a#skip {
  color: #CCC;
  float: left;
  font-size: 9px;
  line-height: 1.4;
  margin: 3px 10px 0 0;
  text-transform: uppercase;
  width: 40px; }

div#anrElement a#skip:hover,
div#anrElement a#skip:active,
div#anrElement a#skip:focus,
div#anrElement a#last:hover,
div#anrElement a#last:active,
div#anrElement a#last:focus {
  color: #fff; }

div#anrElement ul {
  float: left; }

div#anrElement li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/li-arrow.png) no-repeat 100% 0;
  float: left;
  height: 29px;
  /* 29px */
  line-height: 1.3;
  padding: 6px 13px 4px;
  text-shadow: -1px -1px 0 #616161; }

div#anrElement li span {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -52px;
  float: left;
  height: 20px;
  width: 20px; }

div#anrElement li a {
  font-weight: normal;
  background: url(http://expeng.anr.msu.edu/anr_bar/images/drop-arrows.png) no-repeat 100% -3px;
  color: #e9e9e9;
  padding-right: 15px; }

div#anrElement li a:hover,
div#anrElement li a.active,
div#anrElement li a.focus {
  font-size: inherit;
  background-position: 100% -31px;
  color: #fff; }

div#anrElement li.NElast-child,
div#anrElement li.NElast-child a#NElast {
  background: none; }

#networkElement div#NEsearch {
  float: right;
  font-size: 12px;
  padding: 4px 0; }

#networkElement div#NEsearch label {
  display: block;
  height: 0;
  overflow: hidden;
  width: 0; }

#networkElement input[type=text] {
  background: #e3e3e3 url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat 0 -24px;
  height: 22px;
  line-height: 22px;
  /* fixes padding issues with IE */
  padding: 0 5px 0 23px;
  vertical-align: middle;
  width: 108px;
  /* 136px */ }

#networkElement input[type=submit] {
  background: none;
  color: #fff; }

/*------------------------------------------------------------------------- DROPDOWNS --*/
div#ddWrapper {
  margin: 0 auto;
  position: relative;
  max-width: 88.875em;
  z-index: 110; }

div#ddWrapper > div {
  background: #575757 url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  border-left: 1px solid #181818;
  border-right: 1px solid #181818;
  border-bottom: 1px solid #181818;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
  color: #fff;
  font: normal 14px/1.2 Arial, Helvetica, sans-serif;
  overflow: hidden;
  padding: 0 8px 12px 8px;
  position: absolute;
  width: 482px;
  /* 500px */ }

div#ddWrapper a {
  font-weight: normal;
  color: #fff; }

div#ddWrapper a:hover,
div#ddWrapper a:active,
div#ddWrapper a:focus {
  font-size: inherit;
  text-decoration: underline; }

div#networkElement a.NElink-ext {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/ext-link.png) no-repeat 100% 5px;
  padding-right: 11px; }

#networkElement div.ddTitle {
  background: #bbbbbb url(http://expeng.anr.msu.edu/anr_bar/images/dd-shadow.png) repeat-x;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-radius: 0 0 5px 5px;
  color: #444;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 12px 10px 10px; }

#networkElement div.ddTitle h2 {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat;
  border-right: 1px solid #898888;
  cursor: pointer;
  float: left;
  height: 22px;
  padding-right: 10px;
  text-indent: -9999px;
  text-transform: capitalize;
  width: 98px; }

#networkElement div.ddTitle h3,
#networkElement div.ddTitle h3 a {
  color: #444;
  float: left;
  font-size: 16px;
  line-height: 22px;
  padding-left: 10px;
  text-shadow: 1px 1px 0 #dbdbdb; }

#networkElement div.ddTitle h3 a {
  padding-left: 0; }

#networkElement div.ddContent {
  margin: 4px 10px; }

div#dd-anr {
  left: 7em; }

div#dd-canr,
div#dd-msue,
div#dd-agbio,
div#dd-lmo {
  left: 14.5em; }

div#dd-aai,
div#dd-ans,
div#dd-ent,
div#dd-fshn,
div#dd-hrt,
div#dd-sop,
div#dd-spdc,
div#dd-iia,
div#dd-afre,
div#dd-carrs {
  left: 277px; }

div#dd-tollgate {
  left: 269px; }

div#dd-ipm {
  left: 342px; }

div#dd-lpi,
div#dd-pc {
  left: 355px; }

div#dd-csmott {
  left: 365px; }

div#dd-greeen {
  left: 333px; }

div#dd-currentSite {
  left: 278px; }

div#ddWrapper h4 {
  border-bottom: 1px solid #9b9b9b;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 6px 0;
  zoom: 1; }

div#ddWrapper div.NEsublist {
  padding-top: 10px;
  clear: both; }

div#ddWrapper div.NEcol {
  border-left: 1px solid #9b9b9b;
  border-bottom: 1px solid #9b9b9b;
  float: left;
  overflow: hidden;
  padding: 0 7px 10px;
  width: 140px;
  height: 237px; }

div#ddWrapper div.NEcol:first-child {
  border-left: none;
  padding-left: 0; }

div#ddWrapper div.NEcol.NElast-child {
  padding-right: 0; }

div#ddWrapper div.NEcol h4 {
  border-bottom: none;
  display: block;
  font-weight: normal;
  width: inherit;
  height: 40px;
  text-align: center; }

div#ddWrapper div.NEcol p,
div#ddWrapper div.NEcol a.NEoutgoing {
  color: #e9e9e9;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  padding: 4px 0; }

div#ddWrapper div.NEcol a.NEoutgoing {
  color: #fff;
  display: block;
  padding-bottom: 0;
  text-align: right; }

div#ddWrapper li {
  background: url(http://expeng.anr.msu.edu/anr_bar/images/sprites.png) no-repeat -130px -52px;
  padding-left: 12px;
  margin: 2px 0; }

div#ddWrapper div.MSUEMain {
  float: left;
  width: 230px; }

div#ddWrapper div.MSUEPrograms {
  float: right;
  position: relative;
  width: 200px; }

@media only screen {
  #networkElement {
    display: none; } }
  @media only screen and (min-width: 64.063em) {
    #networkElement {
      display: block; } }

@media only screen {
  html.no-svg div.masthead a {
    background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-white.png") no-repeat scroll left center transparent;
    width: 298px;
    height: 34px;
    display: inline-block; }
  html.no-svg div#search-medium input[type=submit] {
    background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.png") no-repeat scroll center center white; }

  html.no-svg header.home div.masthead a {
    background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/masthead-helmet-green.png") no-repeat scroll left center transparent;
    width: 298px;
    height: 34px;
    display: inline-block; }

  #msu-masthead-icon path {
    fill: #fff;
    color: #fff; }

  #outer-wrap.home #msu-masthead-icon path {
    fill: #004F39;
    color: 004F39; }

  header {
    background-color: #598527;
    color: #fff;
    position: relative; }
    header .masthead-row {
      background-color: #598527;
      position: fixed;
      z-index: 300; } }
    @media only screen and (min-width: 64.063em) {
      header .masthead-row {
        position: relative;
        background-color: transparent;
        padding-bottom: 0;
        z-index: 0; } }
@media only screen {
      header .masthead-row .masthead {
        height: 2.125em;
        margin-top: 1em; } }
      @media only screen and (min-width: 40.063em) {
        header .masthead-row .masthead div.logo {
          float: left;
          width: 48%; } }
@media only screen {
        header .masthead-row .masthead a {
          display: block;
          position: relative;
          height: 2.125em;
          max-width: 18.75em; }
          header .masthead-row .masthead a svg {
            width: 100%;
            height: 100%;
            margin: 0; }
      header .masthead-row div#search-medium {
        display: none; } }
      @media only screen and (min-width: 64.063em) {
        header .masthead-row div#search-medium {
          display: inline; } }
@media only screen {
        header .masthead-row div#search-medium form#cse-search-box {
          display: none; } }
        @media only screen and (min-width: 64.063em) {
          header .masthead-row div#search-medium form#cse-search-box {
            display: block;
            float: right;
            background: none repeat scroll 0 0 #FFFFFF;
            border: .0625em solid #999999;
            -webkit-border-radius: 0.1875em;
            -moz-border-radius: 0.1875em;
            -ms-border-radius: 0.1875em;
            border-radius: 0.1875em;
            height: 1.75em;
            margin-bottom: .75em;
            width: 18.75em;
            overflow: hidden; }
            header .masthead-row div#search-medium form#cse-search-box input[type=text] {
              border: none;
              width: 16em;
              padding-left: .25em;
              color: #333333;
              margin-top: .125em; }
            header .masthead-row div#search-medium form#cse-search-box input[type=submit] {
              background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center white;
              border: 0 none;
              -webkit-border-radius: 0 0.1875em 0.1875em 0;
              -moz-border-radius: 0 0.1875em 0.1875em 0;
              -ms-border-radius: 0 0.1875em 0.1875em 0;
              border-radius: 0 0.1875em 0.1875em 0;
              cursor: pointer;
              float: right;
              height: 1.75em;
              margin: 0 auto;
              outline: 0 none;
              text-indent: -9999px;
              text-transform: capitalize;
              width: 2.125em; } }
@media only screen {
    header div.title-row {
      padding-top: 3.125em;
      position: relative; } }
    @media only screen and (min-width: 64.063em) {
      header div.title-row {
        padding-top: 0; } }
@media only screen {
      header div.title-row h1 {
        margin: 0; }
        header div.title-row h1 a {
          color: #fff;
          font: 900 1.1775em/1.5em "raleway", sans-serif;
          text-decoration: none; } }
        @media only screen and (min-width: 40.063em) {
          header div.title-row h1 a {
            font-size: 1.5em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    header div.title-row h1 a {
      font-size: 2em; } }

@media only screen {
          header div.title-row h1 a span {
            font-weight: 500; }
        header div.title-row h1 a:hover, header div.title-row h1 a:focus {
          text-decoration: none; }
      header div.title-row p.tagline {
        text-transform: uppercase;
        font: 500 .625em/.75em "raleway", sans-serif;
        margin: -.5em 0 3em 12.51em; } }
      @media only screen and (min-width: 40.063em) {
        header div.title-row p.tagline {
          font-size: .8125em;
          margin: -.5em 0 2em 12em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    header div.title-row p.tagline {
      font-size: 1.125em;
      margin-left: 11em; } }

@media only screen {
    header ul.icons {
      list-style: none;
      padding: none;
      position: absolute;
      right: 0;
      bottom: -2em;
      padding-right: .9375em;
      z-index: 200;
      /*
      li span{
          width: 100%;
          height: 0;
          padding-bottom:100%;
          display: block;
      }
      li.food span{
          background:url('/images/sprite.png') no-repeat 0 98%;
          background-size:321% auto;
      }
      li.energy span{
          background:url('/images/sprite.png') no-repeat 50% 98%;
          background-size:321% auto;
      }
      li.enviro span{
          background:url('/images/sprite.png') no-repeat 100% 98%;
          background-size:321% auto;
      }
      */ } }
    @media only screen and (min-width: 40.063em) {
      header ul.icons {
        bottom: -2.25em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    header ul.icons {
      bottom: -3.75em; } }

@media only screen {
      header ul.icons li {
        display: block;
        float: left;
        margin-left: 1.625em;
        width: 2.125em;
        height: 2.125em; } }
      @media only screen and (min-width: 40.063em) {
        header ul.icons li {
          width: 3em;
          height: 3em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    header ul.icons li {
      width: 5.4375em;
      height: 5.4375em; } }

@media only screen {
        header ul.icons li svg {
          width: 2.125em;
          height: 2.125em; } }
        @media only screen and (min-width: 40.063em) {
          header ul.icons li svg {
            width: 3em;
            height: 3em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    header ul.icons li svg {
      width: 5.4375em;
      height: 5.4375em; } }

@media only screen {
          header ul.icons li svg use {
            width: 100%;
            height: 100%; }

  header.home {
    background-color: #fff;
    color: #333333; }
    header.home div.masthead-row {
      background-color: #fff; } }
    @media only screen and (min-width: 64.063em) {
      header.home div.masthead-row {
        background-color: transparent; } }
    @media only screen and (min-width: 30.4375em) {
      header.home div.masthead-row div.masthead a {
        background-size: auto; } }
    @media only screen and (min-width: 64.063em) {
      header.home div.masthead-row div.masthead a {
        width: 50%;
        display: inline-block; } }
@media only screen {
    header.home div.title-row h1 a {
      color: #333; } }
div.banner-wrap.futures {
  font-family: "proxima-nova", sans-serif;
  min-height: 38.4375em;
  overflow: hidden;
  color: #fff; }
  @media only screen and (min-width: 40.063em) {
    div.banner-wrap.futures {
      min-height: 43.75em; } }
  @media only screen and (min-width: 64.063em) {
    div.banner-wrap.futures {
      min-height: 48.75em; } }
  div.banner-wrap.futures div.masthead-row {
    background-color: transparent;
    position: relative; }
  div.banner-wrap.futures div.text-wrap {
    position: absolute;
    max-width: none;
    left: 50%;
    margin-left: -40em; }
    div.banner-wrap.futures div.text-wrap div.overlay {
      background-color: rgba(0, 0, 0, 0.55);
      position: absolute;
      height: 780px;
      min-width: 1280px;
      top: 0px;
      left: 0px; }
  div.banner-wrap.futures h1 {
    font-size: 1em; }
    div.banner-wrap.futures h1 svg {
      max-width: 18.75em;
      max-height: 4.5em;
      width: 100%; }
    div.banner-wrap.futures h1 small {
      display: block;
      font-size: .76em;
      margin-left: .75em; }
      @media only screen and (min-width: 20.8125em) {
        div.banner-wrap.futures h1 small {
          font-size: .9em; } }
  div.banner-wrap.futures .futures-text {
    position: absolute;
    bottom: 1em;
    max-width: 78em; }
    div.banner-wrap.futures .futures-text h2 {
      font-size: 1em;
      text-transform: uppercase; }
      div.banner-wrap.futures .futures-text h2 span {
        font: 500 1.25em/1em "proxima-nova", sans-serif;
        display: block;
        text-indent: -0.2em; }
        @media only screen and (min-width: 64.063em) {
          div.banner-wrap.futures .futures-text h2 span {
            font-size: 2.25em; } }
        div.banner-wrap.futures .futures-text h2 span::first-line {
          font: 900 2.75em/.75em "proxima-nova", sans-serif; }
          @media only screen and (min-width: 64.063em) {
            div.banner-wrap.futures .futures-text h2 span::first-line {
              font-size: 2.75em; } }
    div.banner-wrap.futures .futures-text small {
      font: 700 .9875em/2em "proxima-nova-condensed", sans-serif; }
    div.banner-wrap.futures .futures-text p {
      line-height: 1.3; }

@media only screen {
  div.side-bar {
    display: none; } }
  @media only screen and (min-width: 64.063em) {
    div.side-bar {
      display: block; }
      div.side-bar ul {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.4; }
        div.side-bar ul li.level_1 {
          border-bottom: .063em solid #333; }
          div.side-bar ul li.level_1 a {
            display: block;
            padding: .6875em .5em;
            margin: 0;
            text-decoration: none;
            color: #333;
            font-size: 1em; }
          div.side-bar ul li.level_1 a:hover {
            text-decoration: underline;
            color: #333; }
          div.side-bar ul li.level_1 ul {
            padding-left: 1em; }
            div.side-bar ul li.level_1 ul li.level_2 a {
              font-size: .9em;
              padding: .5em; }
            div.side-bar ul li.level_1 ul li.level_2 a:hover,
            div.side-bar ul li.level_1 ul li.level_2 a:focus {
              font-weight: 700; }
            div.side-bar ul li.level_1 ul li.level_2.active a,
            div.side-bar ul li.level_1 ul li.level_2.parent_here a {
              font-weight: 700; }
            div.side-bar ul li.level_1 ul li.level_2.active ul,
            div.side-bar ul li.level_1 ul li.level_2.parent_here ul {
              border-top: .063em solid #a2b5b0; }
              div.side-bar ul li.level_1 ul li.level_2.active ul li.level_3 a,
              div.side-bar ul li.level_1 ul li.level_2.parent_here ul li.level_3 a {
                font-size: .875em; }
              div.side-bar ul li.level_1 ul li.level_2.active ul li.level_3.active a,
              div.side-bar ul li.level_1 ul li.level_2.active ul li.level_3.active a:hover,
              div.side-bar ul li.level_1 ul li.level_2.active ul li.level_3.active a:focus,
              div.side-bar ul li.level_1 ul li.level_2.parent_here ul li.level_3.active a,
              div.side-bar ul li.level_1 ul li.level_2.parent_here ul li.level_3.active a:hover,
              div.side-bar ul li.level_1 ul li.level_2.parent_here ul li.level_3.active a:focus {
                font-weight: 700;
                text-decoration: underline; }
        div.side-bar ul li.level_1:first-child {
          border-top: .063em solid #333; }
        div.side-bar ul li.level_1.parent_here > a {
          background-color: #333;
          color: #fff;
          font-weight: 700; }
        div.side-bar ul li.level_1.active > a,
        div.side-bar ul li.level_1 > a:focus {
          background-color: #333;
          color: #fff;
          text-decoration: underline;
          font-weight: 700; }
        div.side-bar ul li.active a {
          text-decoration: underline; }
        div.side-bar ul li.active ul {
          display: block; }
          div.side-bar ul li.active ul li.level_2 a {
            text-decoration: none; } }

@media only screen {
  footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3f474d;
    color: #fff; }

  footer ul {
    margin: 0;
    padding: 0; }

  footer li {
    display: inline-block;
    border-left: 1px #fff dotted;
    padding: 0 .25em;
    line-height: 1.4; }

  footer li:first-child {
    border-left: none; }

  footer li a {
    text-decoration: none;
    color: #fff;
    padding-left: .25em; }

  footer li a:hover,
  footer li a:focus {
    text-decoration: underline; }

  #standard-footer-site-links {
    font-size: .8125em;
    border-bottom: 1px dotted #fff;
    margin-bottom: .65em;
    padding-bottom: .65em; }

  #standard-footer-MSU-info {
    font-size: .625em; }

  #standard-footer-MSU-info .spartans-will {
    text-transform: uppercase;
    font-weight: 700; }

  html.no-svg a.msu-wordmark-link.white {
    background: url("//expeng.anr.msu.edu/images/sitewide/msuimages/msu-wordmark-white-221x47.png") no-repeat center center;
    width: 266px;
    height: 57px;
    display: inline-block; }

  a.msu-wordmark-link svg {
    max-height: 3.9375em;
    width: 100%; }

  #msu-wordmark-icon path,
  #msu-wordmark-icon rect {
    fill: white;
    color: white; }

  p.timestamp {
    font-size: .8125em; } }
@media only screen and (min-width: 40.063em) {
  div.footer-text.medium-9.columns {
    float: right !important; }

  footer {
    text-align: left; }

  p.timestamp {
    float: right; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    p.timestamp {
      margin-top: -1em; } }

@media only screen {
  #menu-icon path,
  #menu-icon rect {
    fill: #5CA038; }

  #menu-icon rect.box {
    fill: #fff; }

  body.home #menu-icon path,
  body.home #menu-icon rect {
    fill: #fff; }
  body.home #menu-icon rect.box {
    fill: #5CA038; }

  p#nav-button {
    position: relative;
    margin: 0; }

  p#nav-button a {
    display: block;
    height: 3.625em;
    overflow: hidden;
    position: absolute;
    right: -0.9375em;
    top: -0.5em;
    width: 3.625em; }
    p#nav-button a svg {
      width: 100%;
      height: 100%; }

  nav#mobile-nav {
    width: 0;
    /* collapsed */
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #E08D8E;
    z-index: 10;
    transition: width 0.3s ease; }

  nav#mobile-nav .title-mobile {
    font-size: 1.6em;
    line-height: 1;
    font-weight: bold;
    border-top: 4px double #fff;
    border-bottom: 1px solid #fff;
    padding: .75em .9375em;
    margin: .5em -.9375em 1em; }

  nav#mobile-nav a {
    text-decoration: none;
    color: #fff; }

  nav#mobile-nav a:hover,
  nav#mobile-nav a:focus {
    text-decoration: underline; }

  nav#mobile-nav {
    background-color: #282829;
    color: #fff; }

  nav#mobile-nav p.close {
    text-align: right;
    text-transform: uppercase; }

  nav#mobile-nav p.close a {
    background-size: 1.25em 1.25em;
    padding-left: 1.875em; }
    nav#mobile-nav p.close a svg {
      height: 1em;
      width: 1em; }

  #close-icon path {
    fill: #fff;
    color: #fff; }

  nav#mobile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }

  nav#mobile-nav ul#nav_mobile {
    margin: 1em -.9375em 0 -.9375em; }

  nav#mobile-nav li {
    border-top: .063em solid #fff; }

  nav#mobile-nav li:first-child {
    border-top: none; }

  nav#mobile-nav li a {
    display: block;
    padding: 1em .9375em 1em .5em;
    margin: 0;
    text-decoration: none;
    background-size: .75em .75em; }

  nav#mobile-nav li.has_children > a {
    background: url("/images/open.png") right center no-repeat;
    background-size: .75em .75em; }

  nav#mobile-nav li.here a,
  nav#mobile-nav li a:hover,
  nav#mobile-nav li a:focus {
    text-decoration: underline; }

  nav#mobile-nav ul ul {
    border-top: 0.063em solid black; }

  nav#mobile-nav li.level_1:first-child {
    border-top: 1px solid #fff; }

  nav#mobile-nav li.level_1 a {
    padding-left: 1em;
    margin-right: .9375em; }

  nav#mobile-nav li.level_2 {
    background-color: #404041;
    border-top: 1px dotted #fff; }

  nav#mobile-nav li.level_2:first-child {
    border-top: none; }

  nav#mobile-nav li.level_2 a {
    border-left: 6px solid #6d6e70; }

  nav#mobile-nav li.level_3 {
    border-top: 1px dotted #000;
    background-color: #e6e7e8; }

  nav#mobile-nav li.level_3:first-child {
    border-top: none; }

  nav#mobile-nav li.level_3 a {
    color: #000;
    border-left: 6px solid #a7a9ab;
    text-decoration: none;
    background-size: .75em .75em; }

  nav#mobile-nav li.level_3 a:hover,
  nav#mobile-nav li.level_3 a:focus,
  nav#mobile-nav li.level_3.here a {
    text-decoration: underline; }

  nav#mobile-nav:target {
    width: 15em;
    padding: 1em;
    overflow-y: visible;
    z-index: 500; }

  nav#mobile-nav form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
    height: 28px;
    margin-bottom: 12px;
    width: 13em;
    overflow: hidden; }

  nav#mobile-nav form input[type=text] {
    border: none;
    width: 10.5em;
    padding-left: .25em;
    color: #000;
    margin-top: .1875em; }

  nav#mobile-nav form input[type=submit] {
    background: url("http://expeng.anr.msu.edu/images/sitewide/msuimages/icon-search.svg") no-repeat scroll center center white;
    border: 0 none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    float: right;
    height: 28px;
    margin: 0 auto;
    outline: 0 none;
    text-indent: -9999px;
    text-transform: capitalize;
    width: 2em; }

  nav#mobile-nav:target + #wrap {
    position: fixed;
    left: -15em;
    overflow-x: hidden;
    overflow-y: visible; }

  nav#mobile-nav:target ~ a#nav-button.nav-button {
    position: absolute;
    top: -500em !important; }

  nav#mobile-nav:target + #dark-cover {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.7); }

  nav#mobile-nav:target + #dark-cover + #outer-wrap {
    overflow: hidden; } }
@media only screen and (min-width: 64.063em) {
  p#nav-button,
  #dark-cover,
  nav#mobile-nav {
    display: none; } }
@media only screen {
  svg {
    margin: 0; }

  svg text {
    visibility: hidden;
    height: 0;
    width: 0; }

  html.no-svg ul.social li.flickr a {
    background: url("/images/sprite.png") no-repeat 20.7% 0%;
    background-size: 691% auto; }
  html.no-svg ul.social li.twitter a {
    background: url("/images/sprite.png") no-repeat 41.5% 0%;
    background-size: 691% auto; }
  html.no-svg ul.social li.facebook a {
    background: url("/images/sprite.png") no-repeat 83% 0%;
    background-size: 691% auto; }
  html.no-svg ul.social li.youtube a {
    background: url("/images/sprite.png") no-repeat 62.25% 0%;
    background-size: 691% auto; }
  html.no-svg ul.social li.rss a {
    background: url("/images/sprite.png") no-repeat 0% 0%;
    background-size: 691% auto; }

  body.mceContentBody {
    background: #fff none !important;
    text-align: left;
    overflow: auto;
    font-size: 16px;
    cursor: text; }

  body {
    line-height: 1em;
    color: #333333; }

  h2.landmark {
    position: absolute;
    top: -3333em;
    left: -3333em; }

  body {
    color: #5c5c5c;
    font-size: 1em;
    line-height: 1; }

  #outer-wrap {
    width: 100%;
    height: 100%;
    background-color: #3f474d;
    float: left; }
    #outer-wrap #inner-wrap {
      background-color: #fff; }
      #outer-wrap #inner-wrap div#page {
        padding: 1.875em 0 0 0; } }
      @media only screen and (min-width: 64.063em) {
        #outer-wrap #inner-wrap div#page {
          padding-top: 2.5em; } }
@media only screen {
      #outer-wrap #inner-wrap article#content > h1:first-of-type {
        margin-top: 0; }
      #outer-wrap #inner-wrap article#content h1 {
        font: 700 1.75em/1.5em "proxima-nova", sans-serif;
        color: #17453a; }
      #outer-wrap #inner-wrap article#content h2 {
        font: 700 1.375em/1.65em "museo-slab", serif;
        color: #598527; }
        #outer-wrap #inner-wrap article#content h2 a {
          color: #598527; }
      #outer-wrap #inner-wrap article#content h3 {
        font: 700 1.125em/1.35em "museo-slab", serif;
        color: #1a1a1a; }
      #outer-wrap #inner-wrap article#content h4 {
        font: 900 1.0625em/1.275em "proxima-nova", sans-serif;
        color: #000; }
      #outer-wrap #inner-wrap article#content h5 {
        font: 600 .9375em/1.125em "proxima-nova", sans-serif;
        color: #000; }
      #outer-wrap #inner-wrap article#content h6 {
        font: 700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
        color: #333333; }
      #outer-wrap #inner-wrap article#content p {
        font-size: .75em;
        margin: 1em 0;
        line-height: 1.4; } }
      @media only screen and (min-width: 64.063em) {
        #outer-wrap #inner-wrap article#content p {
          font-size: .875em; } }
@media only screen {
      #outer-wrap #inner-wrap article#content p.first {
        margin-top: 0; }
      #outer-wrap #inner-wrap article#content a {
        color: #18453b;
        font-family: "raleway", sans-serif;
        font-weight: 700; }
      #outer-wrap #inner-wrap article#content a:hover,
      #outer-wrap #inner-wrap article#content a:focus {
        text-decoration: none; }
      #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".pdf"]::after, #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".PDF"]::after, #outer-wrap #inner-wrap article#content a.no-file-highlight::after {
        content: none !important; }
      #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".pdf"]::after, #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".PDF"]::after, #outer-wrap #inner-wrap article#content a.no-file-highlight::after {
        content: none !important; }
      #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".pdf"], #outer-wrap #inner-wrap article#content a.no-file-highlight[href$=".PDF"], #outer-wrap #inner-wrap article#content .no-file-highlight {
        background: none repeat scroll 0 0 transparent !important;
        padding-left: 0 !important;
        color: inherit !important; }
      #outer-wrap #inner-wrap article#content hr {
        color: #18453b; }
      #outer-wrap #inner-wrap article#content blockquote {
        margin: 1em;
        line-height: 1.4; }
      #outer-wrap #inner-wrap article#content ul li {
        margin: .5em 0;
        line-height: 1.4; }
      #outer-wrap #inner-wrap article#content ol li {
        margin: .5em 0;
        line-height: 1.4; }
      #outer-wrap #inner-wrap article#content .underline {
        text-decoration: underline; }
      #outer-wrap #inner-wrap article#content .left {
        float: left;
        margin: 0 1em 1em 0; }
      #outer-wrap #inner-wrap article#content .right {
        float: right;
        margin: 0 0 1em 1em; }
      #outer-wrap #inner-wrap article#content div#map_canvas {
        display: none; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content div#map_canvas {
          display: block; } }
@media only screen {
      #outer-wrap #inner-wrap article#content div.gm-style-iw div {
        overflow: visible !important; }
      #outer-wrap #inner-wrap article#content div.plugin-social {
        text-align: left !important; }
        #outer-wrap #inner-wrap article#content div.plugin-social ul.plugin-social-buttons {
          margin: 0 !important;
          padding: 0 !important; }
      #outer-wrap #inner-wrap article#content ul.paginate {
        padding: 0;
        margin: 0;
        list-style: 0;
        text-align: center; }
        #outer-wrap #inner-wrap article#content ul.paginate li {
          display: inline-block;
          padding: .5em 1em; }
        #outer-wrap #inner-wrap article#content ul.paginate li:first-child {
          padding-left: 0; }
        #outer-wrap #inner-wrap article#content ul.paginate li:last-child {
          padding-right: 0; }
      #outer-wrap #inner-wrap article#content ul.faculty {
        list-style: none;
        padding: 0; }
        #outer-wrap #inner-wrap article#content ul.faculty li.faculty-person p.title {
          font-size: .75em; }
        #outer-wrap #inner-wrap article#content ul.faculty li.faculty-person p.phone,
        #outer-wrap #inner-wrap article#content ul.faculty li.faculty-person p.email {
          font: 700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
          color: #333333; }
          #outer-wrap #inner-wrap article#content ul.faculty li.faculty-person p.phone a,
          #outer-wrap #inner-wrap article#content ul.faculty li.faculty-person p.email a {
            color: #333333; }
      #outer-wrap #inner-wrap article#content ul.videos {
        padding: 0;
        list-style: none; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content ul.videos li.video {
          display: inline-block;
          vertical-align: top;
          width: 48%;
          margin-right: 1.5em; } }
@media only screen {
        #outer-wrap #inner-wrap article#content ul.videos li.video div.video-frame {
          height: 0;
          padding-bottom: 56.25%;
          position: relative; }
          #outer-wrap #inner-wrap article#content ul.videos li.video div.video-frame iframe {
            border: none;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            display: block;
            margin: 0 auto; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content ul.videos li.video:nth-child(even) {
          margin-right: 0; } }
@media only screen {
      #outer-wrap #inner-wrap article#content ul.news,
      #outer-wrap #inner-wrap article#content ul.events {
        list-style: none;
        padding: 0; }
        #outer-wrap #inner-wrap article#content ul.news li.news-item,
        #outer-wrap #inner-wrap article#content ul.news li.event-item,
        #outer-wrap #inner-wrap article#content ul.events li.news-item,
        #outer-wrap #inner-wrap article#content ul.events li.event-item {
          overflow: auto; }
          #outer-wrap #inner-wrap article#content ul.news li.news-item img,
          #outer-wrap #inner-wrap article#content ul.news li.event-item img,
          #outer-wrap #inner-wrap article#content ul.events li.news-item img,
          #outer-wrap #inner-wrap article#content ul.events li.event-item img {
            width: 100%;
            margin-bottom: .5em; } }
          @media only screen and (min-width: 40.063em) {
            #outer-wrap #inner-wrap article#content ul.news li.news-item img,
            #outer-wrap #inner-wrap article#content ul.news li.event-item img,
            #outer-wrap #inner-wrap article#content ul.events li.news-item img,
            #outer-wrap #inner-wrap article#content ul.events li.event-item img {
              float: right;
              margin: 0 0 1em 1em;
              max-width: 12.5em; } }
@media only screen {
        #outer-wrap #inner-wrap article#content ul.news li.news-item > p:first-of-type,
        #outer-wrap #inner-wrap article#content ul.news li.event-item > p:first-of-type,
        #outer-wrap #inner-wrap article#content ul.events li.news-item > p:first-of-type,
        #outer-wrap #inner-wrap article#content ul.events li.event-item > p:first-of-type {
          margin-top: 0; }
      #outer-wrap #inner-wrap article#content ul.news div.home-image {
        float: right; }
      #outer-wrap #inner-wrap article#content ul.news div.columns {
        padding: 0; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content ul.news div.columns:nth-child(odd) {
          padding: 0 .9375em 0 0; }
        #outer-wrap #inner-wrap article#content ul.news div.columns:nth-child(even) {
          padding: 0 0 0 .9375em; }
        #outer-wrap #inner-wrap article#content ul.news div.columns.summary {
          float: left; } }
@media only screen {
      #outer-wrap #inner-wrap article#content p.byline {
        font-weight: 700;
        font-size: .6875;
        color: #333; }
      #outer-wrap #inner-wrap article#content img.in-article {
        width: 100%; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content img.in-article {
          float: right;
          margin: 0 0 1em 1em;
          width: auto;
          max-width: 21.875em; } }
@media only screen {
      #outer-wrap #inner-wrap article#content p.related-center-info {
        clear: both !important; }
        #outer-wrap #inner-wrap article#content p.related-center-info svg {
          vertical-align: middle;
          margin-right: 0.5em;
          width: 2.8125em;
          height: 2.8125em; }
      #outer-wrap #inner-wrap article#content div.reports-container {
        overflow: hidden;
        margin-bottom: 1em; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content div.reports-container {
          vertical-align: top;
          display: inline-block;
          width: 48%; } }
@media only screen {
        #outer-wrap #inner-wrap article#content div.reports-container img.gallery-thumb {
          float: left;
          margin-right: 1em; } }
    @media only screen and (min-width: 40.063em) {
      #outer-wrap #inner-wrap article#content form#experts-search p {
        display: inline-block;
        vertical-align: top;
        width: 48%;
        margin-right: 1.5em; } }
@media only screen {
      #outer-wrap #inner-wrap article#content form#experts-search p label {
        display: block;
        margin: .75em 0; }
      #outer-wrap #inner-wrap article#content form#experts-search p input[type="text"] {
        width: 100%; }
      #outer-wrap #inner-wrap article#content form#experts-search p button {
        margin: 2em 0; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content form#experts-search p button {
          width: 100%;
          margin: 0; } }
@media only screen {
      #outer-wrap #inner-wrap article#content form#experts-search p:nth-child(even) {
        margin-right: 0; }
      #outer-wrap #inner-wrap article#content div#filter + ul.faculty {
        list-style: none;
        padding: 0; }
        #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic {
          overflow: auto; } }
        @media only screen and (min-width: 40.063em) {
          #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic {
            display: inline-block;
            vertical-align: top;
            margin-right: 1.5em;
            width: 48%; } }
@media only screen {
          #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic img.faculty-thumb {
            float: left;
            margin: 0 1em 1em 0; }
          #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic p.title {
            font-size: .75em; }
          #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic p.phone,
          #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic p.email {
            font: 700 1.0625em/1.275em "proxima-nova-condensed", sans-serif;
            color: #333333; }
            #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic p.phone a,
            #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic p.email a {
              color: #333333; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content div#filter + ul.faculty li.faculty-person.pic:nth-child(even) {
          margin-right: 0; } }
@media only screen {
      #outer-wrap #inner-wrap article#content img.faculty-full {
        width: 100%;
        margin: 1em 0; } }
      @media only screen and (min-width: 40.063em) {
        #outer-wrap #inner-wrap article#content img.faculty-full {
          float: left;
          margin: 0 1em 1em 0;
          width: auto;
          max-width: 14.5em; } }
@media only screen {
      #outer-wrap #inner-wrap article#content div.faculty-info p {
        font-weight: 700; }
      #outer-wrap #inner-wrap article#content div.faculty-info p.title {
        font: 700 1.125em/1.35em "museo-slab", serif;
        color: #1a1a1a; }
      #outer-wrap #inner-wrap article#content h2.articles {
        clear: both; }
      #outer-wrap #inner-wrap article#content ul.article-list,
      #outer-wrap #inner-wrap article#content ul#article-list {
        padding: 0;
        list-style: none; }
        #outer-wrap #inner-wrap article#content ul.article-list li a,
        #outer-wrap #inner-wrap article#content ul#article-list li a {
          color: #000; }
      #outer-wrap #inner-wrap article#content button[type="submit"] {
        width: 100%; } }
      @media only screen and (min-width: 64.063em) {
        #outer-wrap #inner-wrap article#content button[type="submit"] {
          width: 35%; } }
@media only screen {
      #outer-wrap #inner-wrap a.green-button,
      #outer-wrap #inner-wrap button[type="submit"],
      #outer-wrap #inner-wrap input[type="submit"] {
        color: #fff !important;
        -webkit-border-radius: 0.375em;
        -moz-border-radius: 0.375em;
        -ms-border-radius: 0.375em;
        border-radius: 0.375em;
        background-color: #18453b;
        display: block;
        padding: .5em .5em;
        text-align: center;
        font-weight: 700 !important;
        text-decoration: none !important;
        border: none; }
      #outer-wrap #inner-wrap a.orange-button {
        color: #fff !important;
        -webkit-border-radius: 0.375em;
        -moz-border-radius: 0.375em;
        -ms-border-radius: 0.375em;
        border-radius: 0.375em;
        background-color: #d15831;
        display: block;
        padding: .5em .5em;
        text-align: center;
        font-weight: 700 !important;
        text-decoration: none !important; }
      #outer-wrap #inner-wrap div.subscribe p {
        font-weight: 700; } }
    @media only screen and (min-width: 40.063em) {
      #outer-wrap #inner-wrap div.subscribe a.green-button {
        width: 50%; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    #outer-wrap #inner-wrap div.subscribe a.green-button {
      width: 35%; } }

@media only screen {
      #outer-wrap #inner-wrap ul.social {
        margin: 1em 0;
        padding: 0;
        overflow: visible;
        text-align: center; }
        #outer-wrap #inner-wrap ul.social li {
          display: inline-block;
          width: 1.875em;
          height: 1.875em;
          margin-left: .5em; } }
        @media only screen and (min-width: 64.063em) {
          #outer-wrap #inner-wrap ul.social li {
            width: 2.5em;
            height: 2.5em; } }
@media only screen {
          #outer-wrap #inner-wrap ul.social li a {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            display: block; }
            #outer-wrap #inner-wrap ul.social li a svg {
              width: 1.875em;
              height: 1.875em; } }
            @media only screen and (min-width: 64.063em) {
              #outer-wrap #inner-wrap ul.social li a svg {
                width: 2.5em;
                height: 2.5em; } }
@media only screen {
              #outer-wrap #inner-wrap ul.social li a svg use {
                width: 100%;
                height: 100%; }
        #outer-wrap #inner-wrap ul.social li:first-child {
          margin-left: 0 !important; }
      #outer-wrap #inner-wrap div.mobile-actions {
        clear: both; } }
      @media only screen and (min-width: 64.063em) {
        #outer-wrap #inner-wrap div.mobile-actions {
          display: none; } }
@media only screen {
        #outer-wrap #inner-wrap div.mobile-actions ul.social li {
          margin-left: 1.25em !important; } }
        @media only screen and (min-width: 40.063em) {
          #outer-wrap #inner-wrap div.mobile-actions ul.social li {
            margin-left: 2em !important; } }
@media only screen {
      #outer-wrap #inner-wrap div.mobile-actions div.home {
        display: none; } }
legend {
  font: 700 1.75em/1.5em "proxima-nova", sans-serif;
  color: #17453a;
  clear: both; }

legend.proposal {
  font: 700 1.375em/1.65em "museo-slab", serif;
  color: #598527; }

fieldset {
  border: none;
  margin: 0; }
  @media only screen and (min-width: 40.063em) {
    fieldset {
      width: 50%; } }

input {
  width: 100%; }

input[type="date"] {
  margin-right: .5em;
  width: 93%; }

input[type="radio"] {
  margin: 0 .5em 0 0;
  width: auto; }

@media only screen and (min-width: 40.063em) {
  form#affiliated-name fieldset {
    float: left; } }

#proposal-request-form-errors p {
  color: red; }

label {
  display: block; }

label.inline {
  display: inline-block;
  margin-right: 2em; }

img.ui-datepicker-trigger {
  cursor: pointer; }

div.banner-wrap {
  margin: 0 auto;
  max-width: 80em;
  position: relative; }
  div.banner-wrap img {
    position: relative;
    margin: 0;
    height: auto; }
  div.banner-wrap div.row div.banner-text {
    background-color: #598527;
    color: #fff;
    padding: .9375em; }
    @media only screen and (min-width: 64.063em) {
      div.banner-wrap div.row div.banner-text {
        padding: 1em 1em 1em 1.9375em;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 16.875em;
        background-color: rgba(102, 149, 46, 0.9); } }
    div.banner-wrap div.row div.banner-text h1 {
      border-bottom: 1px solid #fff;
      padding-bottom: .3125em; }
      div.banner-wrap div.row div.banner-text h1 a {
        color: #fff;
        text-decoration: none; }
      div.banner-wrap div.row div.banner-text h1 a:hover, div.banner-wrap div.row div.banner-text h1 a:focus {
        text-decoration: underline; }
    div.banner-wrap div.row div.banner-text h2 {
      display: none;
      font-size: 1.375em;
      line-height: 1.65em; }
      @media only screen and (min-width: 64.063em) {
        div.banner-wrap div.row div.banner-text h2 {
          display: block; } }
    div.banner-wrap div.row div.banner-text p {
      font-size: .8125em;
      line-height: 1.05; }
      @media only screen and (min-width: 40.063em) {
        div.banner-wrap div.row div.banner-text p {
          font-size: .75em;
          line-height: 1.3; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    div.banner-wrap div.row div.banner-text p {
      font-size: 1.125em;
      line-height: 1.35em; } }

      div.banner-wrap div.row div.banner-text p a {
        color: #fff; }

@media only screen and (min-width: 64.063em) {
  body.ie div.banner-wrap div.row div.banner-text {
    top: 7.1875em; } }

@media only screen and (min-width: 64.063em) {
  div.banner-wrap.centers div.row div.banner-text {
    height: 20.875em; } }

@media only screen and (min-width: 64.063em) {
  body.ie div.banner-wrap.centers div.row div.banner-text {
    top: 5.1875em; } }

ul.center-icons {
  list-style: none;
  padding: none;
  padding: 1em 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 0; }
  ul.center-icons li {
    display: inline-block;
    margin: 0 .40625em .5em .40625em;
    width: 2.8125em;
    height: 2.8125em; }
    @media only screen and (min-width: 40.063em) {
      ul.center-icons li {
        width: 3.125em;
        height: 3.125em; } }
    ul.center-icons li svg {
      width: 2.8125em;
      height: 2.8125em; }
      @media only screen and (min-width: 40.063em) {
        ul.center-icons li svg {
          width: 3.125em;
          height: 3.125em; } }
      ul.center-icons li svg use {
        width: 100%;
        height: 100%; }

section#centers-widget h1 {
  margin-top: 0; }
section#centers-widget form#centers-form {
  overflow: auto; }
  @media only screen and (min-width: 40.063em) {
    section#centers-widget form#centers-form {
      margin-top: 1.5625em; } }
  @media only screen and (min-width: 40.063em) and (min-width: 64.063em) {
    section#centers-widget form#centers-form {
      margin-top: 0; } }

  @media only screen and (min-width: 64.063em) {
    section#centers-widget form#centers-form select {
      width: 35%;
      display: inline-block;
      margin-right: 3em; } }
  section#centers-widget form#centers-form button[type="submit"] {
    margin: 1.5625em 0;
    display: inline-block; }

div.publication {
  overflow: hidden; }
  div.publication img.gallery-thumb {
    float: right;
    margin: 0 0 1em 1em;
    max-width: 6em; }
    @media only screen and (min-width: 28.75em) {
      div.publication img.gallery-thumb {
        max-width: 10em; } }

body.futures #networkElement {
  display: none !important; }

header.home.futures div#search-medium {
  display: none !important; }

@media only screen and (min-width: 64.063em) {
  header.futures p#nav-button,
  #dark-cover.futures,
  nav#mobile-nav.futures {
    display: block !important; } }

#outer-wrap #inner-wrap article#content ul#related-articles.futures-listing {
  list-style: none;
  padding: 0;
  overflow: auto; }
  #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li {
    margin: 2em 0; }
    #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:first-child {
      margin-top: 0; }
    @media only screen and (min-width: 40.063em) {
      #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li {
        width: 32%;
        float: left;
        margin: .5em .4em; }
        #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:nth-child(1), #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:nth-child(2), #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:nth-child(3) {
          margin-top: 0; }
        #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:nth-child(3n+1) {
          margin-left: 0;
          clear: left; }
        #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li:nth-child(3n+3) {
          margin-right: 0; } }
    #outer-wrap #inner-wrap article#content ul#related-articles.futures-listing li img {
      min-width: 100%; }

body.futures #outer-wrap #inner-wrap article#content h3 {
  font: 700 1.375em/1.65em "proxima-nova", sans-serif;
  color: #18453b; }
body.futures #outer-wrap #inner-wrap article#content h2 {
  font: 500 1.25em/1.5em "proxima-nova", sans-serif;
  color: #000; }
  body.futures #outer-wrap #inner-wrap article#content h2.caps {
    text-transform: uppercase; }
body.futures #outer-wrap #inner-wrap article#content img.news-pub-thumb {
  float: right;
  margin: 0 0 1em 1em; }
body.futures #outer-wrap #inner-wrap article#content ul.futures-listing {
  list-style: none;
  padding: 0;
  overflow: auto; }
  body.futures #outer-wrap #inner-wrap article#content ul.futures-listing li {
    margin: 2em 0; }
    body.futures #outer-wrap #inner-wrap article#content ul.futures-listing li:first-child {
      margin-top: 0; }
body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li {
  border: 1px solid gray;
  overflow: auto; }
  body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:first-child {
    margin-top: 0; }
  @media only screen and (min-width: 64.063em) {
    body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li {
      width: 32%;
      float: left;
      margin: 0 .45em; }
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:nth-child(1), body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:nth-child(2), body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:nth-child(3) {
        margin-top: 0; }
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:nth-child(3n+1) {
        margin-left: 0;
        clear: left; }
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li:nth-child(3n+3) {
        margin-right: 0; } }
  body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li img {
    min-width: 100%; }
    @media only screen and (min-width: 40.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li img {
        min-width: 50%;
        float: left; } }
    @media only screen and (min-width: 64.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li img {
        min-width: 100%;
        float: none; } }
  body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li span {
    margin: 1em;
    display: block; }
    @media only screen and (min-width: 40.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li span {
        margin-left: 52%; } }
    @media only screen and (min-width: 64.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li span {
        margin-left: 1em; } }
  body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li p {
    padding: 0 1.5em;
    line-height: 1.5; }
    @media only screen and (min-width: 40.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li p {
        margin-left: 52%;
        padding: 0; } }
    @media only screen and (min-width: 64.063em) {
      body.futures #outer-wrap #inner-wrap article#content ul.futures-listing.featured li p {
        margin-left: 0;
        padding: 0 1.5em; } }
body.futures #outer-wrap #inner-wrap article#content ul.prev-issues {
  list-style: none;
  padding: 0; }
  body.futures #outer-wrap #inner-wrap article#content ul.prev-issues li {
    overflow: auto; }
    body.futures #outer-wrap #inner-wrap article#content ul.prev-issues li img {
      float: left;
      margin: 0 1em 1em 0; }
      @media only screen and (min-width: 64.063em) {
        body.futures #outer-wrap #inner-wrap article#content ul.prev-issues li img {
          width: 7.8125em;
          height: 10.125em; } }

@media print {
  #networkElement,
  #mobile-nav,
  header,
  .banner-wrap,
  .top-links,
  #nav-button,
  .side-bar,
  #search-medium,
  #nav-wrap,
  .banner-home,
  .featured-home,
  #social,
  footer {
    display: none; }

  #content a {
    color: #186B9B; }

  a:after {
    content: " (" attr(href) ")";
    font-size: 80%; } }
